.card{
    display: flex;
    flex-direction: column;
    max-height: 600px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.486);
    padding: 20px;
    border-radius: 2px;
}

.card-title{
    text-transform: capitalize;
    margin: 10px;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(0, 0, 0);
}

.card-img{
    max-width: 150px;
    box-sizing: border-box;
}

.id{
    font-family: 'Permanent Marker', cursive;
    color: red;
}

.album {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.pokemon-type{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-subheading {
    font-weight: none;
}

.card-text{
    margin: 10px auto;

}

.normal{
    background-color: #A8A77A;
}

.fire{
    background-color: #EE8130;
}

.water{
    background-color: #6390F0;
}

.electric{
    background-color: #F7D02C;
}

.grass{
    background-color: #7AC74C;
}

.ice{
    background-color: #96D9D6;
}

.fighting{
    background-color: #C22E28;
}

.poison{
    background-color: #A33EA1;
}

.ground{
    background-color: #E2BF65;
}

.flying{
    background-color: #A98FF3;
}

.psychic{
    background-color: #F95587;   
}

.bug{
    background-color: #A6B91A;
}

.rock{
    background-color: #B6A136;
}

.ghost{
    background-color: #735797;
}

.dragon{
    background-color: #6F35FC;
}

.dark{
    background-color: #705746;
}

.steel{
    background-color: #B7B7CE;   
}

.fairy{
    background-color: #D685AD;
}

.type{
    padding: 5px;
    margin-top: 5px;
    min-width: 100px;
    color: white;
}

@media (max-width:768px){
    .album {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        box-sizing: border-box;
    }
    .card {
        width: 300px;
    }

}